body {
    margin: 0;
    padding: 0 15px 15px 15px;
    font: normal 15px 'Helvetica', sans-serif;
    line-height: 1.2;
    color: #e8f9bb;
    background: #3B5536;
}
a img,
img {
    border: 0;
}
a {
    color: #9FDEFD;
}

span#stat {
    float: right;
    text-align: right;
}
span#stat.error {
    color: orange;
}

h1#logo {
    background: url('/img/playdar_icon_32x32.png') no-repeat 0 50%;
    padding-left: 47px;
    font-size: 32px;
    color: #a8d840;
}

h2 {
    margin: 30px 0 15px 0;
}

pre {
    padding: 0.5em;
    background: #2E303A;
    color: #EAE6D3;
    width: 50em;
    overflow: auto;
}
code {
    font: normal 13px 'Consolas', 'Andale Mono', 'Courier', monospace;
}
pre code span.t {
    color: #EAADAA;
}
pre code span.a {
    color: #AEEABB;
}
pre code span.c {
    color: #9C9A8D;
}
pre code span.k {
    color: #9F99EA;
}
pre code span.m {
    color: #BDDEEA;
}

#demoResults {
    display: none;
}

ol#results {
    margin: 0;
    padding: 0;
    width: 51em;
    list-style-position: inside;
}
ol#results li {
    padding: 5px;
}
ol#results li span.matches {
    float: right;
}

.progress {
    background: #59814B;
}
.noMatch {
    background: #B80000;
}
.match {
    background: #D48200;
}
.match:hover {
    cursor: pointer;
}
.perfectMatch {
    background: green;
}

p#legend span {
    margin: 0 3px 0 0;
    padding: 3px;
}

embed#sweep {
    float: right;
    display: none;
}

ul#featured {
    margin: 0;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
    font-size: 17px;
}
ul#featured li {
    margin: 0 0 5px 0;
}

p#footer {
    margin-top: 30px;
}